# Ignorar archivos temporales de compilación en cualquier carpeta
*.o
Makefile.win

# Ignorar archivos de diseño y pestañas locales de Dev-C++
*.layout

# Ignorar rastreo de los ejecutables y proyectos antiguos
Unibiblio
proyecto/Unibiblio.dev
proyecto/Unibiblio.layout

# Ignorar los ejecutables nuevos y pesados para que no entren a GitHub
*.exe
UniBiblioApp